@use 'sass:list';
@use 'sass:meta';

@function list-slice ($list, $start: 1, $end: list.length($list)) {
  $result: null;

  @if meta.type-of($start) != number or meta.type-of($end) != number {
    @warn "Either $start or $end are not a number for `slice`."; 
  }

  @if $end < 0 {
    $end: $end + list.length($list);
  }
  
  @if $start > $end {
    @warn "The start index has to be lesser than or equals to the end index for `slice`.";
  } @else if $start < 1 or $end < 1 {
    @warn "List indexes must be non-zero integers for `slice`.";
  } @else if $start > list.length($list) {
    @warn "List index is #{$start} but list is only #{list.length($list)} item long for `slice`.";
  } @else if $end > list.length($list) {
    @warn "List index is #{$end} but list is only #{list.length($list)} item long for `slice`.";
  } @else {
    $result: ();

    @for $i from $start through $end {
      $result: list.append($result, list.nth($list, $i));
    }
  }

  @return $result;
}
