.pprek24-feature-image-focus {
  &-img {
    position: relative;
    isolation: isolate;
    cursor: crosshair;
    max-inline-size: 100%;
  }

  &-thumb {
    --size: 2.5rem;
    block-size: var(--size);
    inline-size: var(--size);
    cursor: grab;
    border-radius: 50%;
    background: #0008;
    backdrop-filter: blur(5px);
    border: 2px solid #fff;
    position: absolute;
    top: var(--y-axis, 50%);
    left: var(--x-axis, 50%);
    translate: -50% -50%;

    &:active {
      cursor: grabbing;
    }
  }

  &-footer {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }

  &-actions {
    display: flex;
    gap: 8px;
    flex-direction: row-reverse;
  }
}