.pprek24-loader {
  --_clr: var(--clr-txt-100);
  --_clr-accent: var(--clr-accent-300);
  block-size: 1em;
  inline-size: 4em;
  position: relative;
  isolation: isolate;
  margin: 2rem auto;
}
.pprek24-loader::before {
  content: "";
  inline-size: 1em;
  aspect-ratio: 1;
  display: block;
  position: absolute;
  inset: 0 auto auto 1.5em;
  background-color: var(--_clr);
  border-radius: 50%;
  filter: drop-shadow(-1.5em 0 0 var(--_clr-accent)) drop-shadow(1.5em 0 0 var(--_clr));
  animation: svelte-2xhhae-shadowPulse 3s linear infinite;
}

@keyframes svelte-2xhhae-shadowPulse {
  0%, 100% {
    filter: drop-shadow(-1.5em 0 0 var(--_clr-accent)) drop-shadow(1.5em 0 0 var(--_clr));
    background-color: var(--_clr);
  }
  33.33333% {
    filter: drop-shadow(-1.5em 0 0 var(--_clr)) drop-shadow(1.5em 0 0 var(--_clr));
    background-color: var(--_clr-accent);
  }
  66.66667% {
    filter: drop-shadow(-1.5em 0 0 var(--_clr)) drop-shadow(1.5em 0 0 var(--_clr-accent));
    background-color: var(--_clr);
  }
}
.event-list.svelte-2v680l {
  display: grid;
  grid-template-columns: auto;
  grid-auto-rows: auto;
  gap: 1.5rem;
}

.event.svelte-2v680l {
  --_block-size: 3.5rem;
  background-color: var(--clr-header-bg);
  filter: drop-shadow(0 0.25rem 1rem hsla(0, 0%, 0%, 0.2));
  display: grid;
  block-size: var(--_block-size);
  grid-template: "date title" 1.875rem "date time" 1.625rem/var(--_block-size) auto;
  position: relative;
  isolation: isolate;
  border-radius: 0.25rem;
  overflow: hidden;
  list-style-type: none;
}

.event-date.svelte-2v680l {
  grid-area: date;
  background-color: var(--clr-accent-400);
  color: var(--clr-header-bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1;
  gap: 0.25rem;
}
.event-date.svelte-2v680l span:where(.svelte-2v680l):nth-child(1) {
  font-size: 1.25rem;
}

.event-title.svelte-2v680l {
  grid-area: title;
  padding-inline: 0.75rem;
  align-self: end;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.event-title.svelte-2v680l a:where(.svelte-2v680l) {
  color: inherit;
  text-decoration: none;
}
.event-title.svelte-2v680l a:where(.svelte-2v680l)::before {
  content: "";
  position: absolute;
  inset: 0;
  background: transparent;
  z-index: 0;
}

.event-time.svelte-2v680l {
  grid-area: time;
  padding-inline: 0.75rem;
  align-self: start;
  font-size: 0.75rem;
  line-height: 1.66667;
  vertical-align: top;
}
.pprek-calendar-month-title.svelte-qtfux {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.pprek-calendar-month-title.svelte-qtfux h2:where(.svelte-qtfux) {
  grid-column: 2/7;
  text-align: center;
}

.pprek-calendar-month-prev.svelte-qtfux {
  grid-column: 1/2;
}

.pprek-calendar-month-next.svelte-qtfux {
  grid-column: 7/8;
}

.pprek-calendar-month.svelte-qtfux {
  inline-size: 100%;
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  grid-template-rows: 3rem repeat(6, 8.5rem);
  grid-auto-rows: auto;
  gap: 0.25rem;
}
.pprek-calendar-month.svelte-qtfux tbody:where(.svelte-qtfux),
.pprek-calendar-month.svelte-qtfux thead:where(.svelte-qtfux),
.pprek-calendar-month.svelte-qtfux tr:where(.svelte-qtfux) {
  display: contents;
}
.pprek-calendar-month.svelte-qtfux th:where(.svelte-qtfux),
.pprek-calendar-month.svelte-qtfux td:where(.svelte-qtfux) {
  padding: 0.5rem;
  border-radius: 0.25rem;
  inline-size: 100%;
  min-inline-size: 0;
}
.pprek-calendar-month.svelte-qtfux th:where(.svelte-qtfux) {
  background-color: var(--clr-accent-400);
  display: grid;
  place-items: center;
  color: var(--clr-header-bg);
}
.pprek-calendar-month.svelte-qtfux td:where(.svelte-qtfux) {
  background-color: var(--clr-txt-100);
  display: block;
}
.pprek-calendar-month.svelte-qtfux td[data-position=out-of-month]:where(.svelte-qtfux) {
  opacity: 0.66667;
}
.pprek-calendar-month.svelte-qtfux td:where(.svelte-qtfux) ul:where(.svelte-qtfux) {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  overflow: auto;
  max-block-size: calc(100% - 1.5rem - 0.25rem - 0.25rem);
}
.pprek-calendar-month.svelte-qtfux td:where(.svelte-qtfux) li:where(.svelte-qtfux) {
  list-style: none;
}
.pprek-calendar-month.svelte-qtfux td:where(.svelte-qtfux) li:where(.svelte-qtfux) a:where(.svelte-qtfux) {
  display: block;
  background: var(--clr-accent-400);
  color: var(--clr-header-bg);
  border-radius: 0.125rem;
  padding: 0.2em;
  text-decoration: none;
}
.pprek-calendar-month.svelte-qtfux td:where(.svelte-qtfux) li:where(.svelte-qtfux) a:where(.svelte-qtfux):has(> time:where(.svelte-qtfux)) {
  display: grid;
  grid-template-columns: min-content auto;
  gap: 0.25em;
}
.pprek-calendar-month.svelte-qtfux td:where(.svelte-qtfux) li:where(.svelte-qtfux) a:where(.svelte-qtfux) time:where(.svelte-qtfux) {
  font-weight: 300;
}
.pprek-calendar-month.svelte-qtfux td:where(.svelte-qtfux) li:where(.svelte-qtfux) a:where(.svelte-qtfux) .event-title:where(.svelte-qtfux) {
  hyphens: auto;
}
