
  .pprek24-loader {
    --_clr: var(--clr-txt-100);
    --_clr-accent: var(--clr-accent-300);

    block-size: 1em;
    inline-size: 4em;
    position: relative;
    isolation: isolate;
    margin: 2rem auto;

    &::before {
      content: '';
      inline-size: 1em;
      aspect-ratio: 1;
      display: block;
      position: absolute;
      inset: 0 auto auto 1.5em;
      background-color: var(--_clr);
      border-radius: 50%;
      filter: drop-shadow(-1.5em 0 0 var(--_clr-accent)) drop-shadow(1.5em 0 0 var(--_clr));
      animation: svelte-fjbi06-shadowPulse 3s linear infinite;
    }
  }

  @keyframes svelte-fjbi06-shadowPulse {
    0%, 100% {
      filter: drop-shadow(-1.5em 0 0 var(--_clr-accent)) drop-shadow(1.5em 0 0 var(--_clr));
      background-color: var(--_clr);
    }
    33.33333% {
      filter: drop-shadow(-1.5em 0 0 var(--_clr)) drop-shadow(1.5em 0 0 var(--_clr));
      background-color: var(--_clr-accent);
    }
    66.66667% {
      filter: drop-shadow(-1.5em 0 0 var(--_clr)) drop-shadow(1.5em 0 0 var(--_clr-accent));
      background-color: var(--_clr);
    }
  }


  .event-list.svelte-pe9ggo {
    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: auto;
    gap: 1.5rem;
  }

  .event.svelte-pe9ggo {
    --_block-size: 3.5rem;
    background-color: var(--clr-header-bg);
    filter: drop-shadow(0 .25rem 1rem hsl(0 0% 0% / 20%));
    display: grid;
    block-size: var(--_block-size);
    grid-template:
      "date title" 1.875rem
      "date time" 1.625rem
      / var(--_block-size) auto;
    position: relative;
    isolation: isolate;
    border-radius: .25rem;
    overflow: hidden;
    list-style-type: none;
  }

  .event-date.svelte-pe9ggo {
    grid-area: date;
    background-color: var(--clr-accent-400);
    color: var(--clr-header-bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1;
    gap: .25rem;

    span:where(.svelte-pe9ggo):nth-child(1) {
      font-size: 1.25rem;
    }
  }

  .event-title.svelte-pe9ggo {
    grid-area: title;
    padding-inline: .75rem;
    align-self: end;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    a:where(.svelte-pe9ggo) {
      color: inherit;
      text-decoration: none;

      &::before {
        content: '';
        position: absolute;
        inset: 0;
        background: transparent;
        z-index: 0;
      }
    }
  }

  .event-time.svelte-pe9ggo {
    grid-area: time;
    padding-inline: .75rem;
    align-self: start;
    font-size: .75rem;
    line-height: 1.66667;
    vertical-align: top;
  }


  .pprek-calendar-month-title.svelte-1nqudi3 {
    display: grid;
    grid-template-columns: repeat(7, 1fr);

    h2:where(.svelte-1nqudi3) {
      grid-column: 2 / 7;
      text-align: center;
    }
  }
  .pprek-calendar-month-prev.svelte-1nqudi3 {
    grid-column: 1 / 2;
  }
  .pprek-calendar-month-next.svelte-1nqudi3 {
    grid-column: 7 / 8;
  }

  .pprek-calendar-month.svelte-1nqudi3 {
    inline-size: 100%;
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
    grid-template-rows: 3rem repeat(6, 8.5rem);
    grid-auto-rows: auto;
    gap: 0.25rem;

    tbody:where(.svelte-1nqudi3),
    thead:where(.svelte-1nqudi3),
    tr:where(.svelte-1nqudi3) {
      display: contents;
    }

    th:where(.svelte-1nqudi3),
    td:where(.svelte-1nqudi3) {
      padding: 0.5rem;
      border-radius: 0.25rem;
      inline-size: 100%;
      min-inline-size: 0;
    }

    th:where(.svelte-1nqudi3) {
      background-color: var(--clr-accent-400);
      display: grid;
      place-items: center;
      color: var(--clr-header-bg);
    }

    td:where(.svelte-1nqudi3) {
      background-color: var(--clr-txt-100);
      display: block;

      &[data-position="out-of-month"] {
        opacity: 0.66667;
      }

      ul:where(.svelte-1nqudi3) {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        overflow: auto;
        max-block-size: calc(100% - 1.5rem - 0.25rem - 0.25rem);
      }

      li:where(.svelte-1nqudi3) {
        list-style: none;

        a:where(.svelte-1nqudi3) {
          display: block;
          background: var(--clr-accent-400);
          color: var(--clr-header-bg);
          border-radius: 0.125rem;
          padding: 0.2em;
          text-decoration: none;

          &:has(> time:where(.svelte-1nqudi3)) {
            display: grid;
            grid-template-columns: min-content auto;
            gap: 0.25em;
          }

          time:where(.svelte-1nqudi3) {
            font-weight: 300;
          }

          .event-title:where(.svelte-1nqudi3) {
            hyphens: auto;
          }
        }
      }
    }
  }

